

<a href="{{ url_for('all_courses') }}" class="w3-bar-item arabic_a nav_item">
    الكورسات
</a>

<a class="w3-bar-item arabic_a nav_item">
    تواصل معنا
</a>

{% if current_user.is_authenticated %}

<a href=" {{ url_for('user',username=current_user.username) }} " class="w3-bar-item arabic_a nav_item">
    الصفحة الشخصية
</a>

<a href=" {{ url_for('logout') }} " class="w3-bar-item arabic_a nav_item">
    تسجيل الخروج
</a>


{% else %}
<a href=" {{ url_for('register') }} " class="w3-bar-item arabic_a nav_item">
    تسجيل
</a>


<a href=" {{ url_for('login') }} " class="w3-bar-item arabic_a nav_item">
    تسجيل الدخول
</a>
{% endif %}