<div dir="{{dir}}"

id="COURSE_CARD" style="{{ style }} ; float:  {{ _('left')  }};" class="w3-border messiri_font w3-margin-right   ">
    <div  class=" w3-center w3-border-bottom ">
        <img  
        
        {% if course.image %}
         src="{{ course.image }}" 
         style='height: 90px; width: 100%; object-fit: cover'
         {% else %}
         style="height: 30px;margin: 30px 0px;"
         src="{{ url_for('static',filename='icons/camera.png')}}" 

         {% endif %}
         alt="">
    </div>

    <div class="COURSE_INFO w3-padding ">
        <p class="w3-center COURSE_NAME">
            {{ course.name }}
        </p>

        <p class=" COURSE_INTRODUCED">
            يقدم بواسطة
            <br />
            <a style="text-decoration: none"
            href="{{ url_for('user',username=course.trainer.username ) }}"
            class="w3-large">
               <b>
                    {{ course.trainer.fullname }}
               </b>
            </a>
        </p>
    </div>

    <div class="w3-center ">
        {% if course.trainer == current_user %}
        <a href="{{ url_for('user_course_panel',
                    username=current_user.username,
                    id=course.id) }}"
            class="w3-button w3-round-xxlarge w3-text-white" style="background-color: #e87556 !important;">
               لوحة التحكم
        </a>
        <br/>
        <br/>
        {% endif %}
        <a href="{{ url_for('course',category=course.tag.category.name,tag=course.tag.name ,id=course.id) }}"
         class="w3-button w3-round-xxlarge course_card_button">
            تفاصيل اكثر
        </a>
    </div>
    <br />
</div>