{% extends '_base.html' %}

{% block content %}

<div
 class="w3-container  form_center form_max_width w3-padding w3-round-large w3-card-4 w3-margin-top" >

    <form action="" enctype="{% if form.form_name == 'media_form' %}multipart/form-data{% endif %}""                       
    method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <br />
        {% if field.type == "RadioField" %}
            {{ field.label(class="form_label") }} <br />
        {% for subfield in field %}
        {{ subfield.label }}
        {{ subfield(class="w3-radio") }}
        {% endfor %}
        {% else %}
        {% if field.type != "SubmitField" %}
        {{ field.label(class="form_label") }}
        {{ field(class="w3-input w3-border")}}
        {% else %}
        {{ field(class="w3-button w3-input w3-hover-blue w3-hover-shadow w3-round-large w3-blue",style="width=100%")}}
        {% endif %}
        {% endif %}
        {% for error in field.errors %}
        <p class="w3-text-red">
            {{ error }}
        </p>
        {% endfor %}
        {% endfor %}
    </form>
        {% if form.form_name.data == "login_form" %}
        <p>
            New user ? <a class="form_label" href="{{url_for('register')}}">
                Register Now
            </a>
        </p>
        {% endif %}
    <br/>
</div>
{% endblock %}