
<br/>
<br/>
<br/>
<br/>

<div style="margin-right: 40px;margin-left: 40px ;"
class="w3-row w3-padding poppins w3-text-white ">


    <div style="max-width: 350px;background-color:transparent" class="w3-card-4 w3-half  w3-round  w3-right">

        <div style="background-color: rgb(240, 240, 240);color: rgb(6, 17, 34)"
        class="w3-container  w3-center ">
           <b>
                <p class="w3-xlarge"> 
                        Free, Managed Kubernetes
                    </p>
           </b>
        </div>

        <div class="w3-container w3-center w3-large   w3-white">
            <p class="">
                <i style="color: rgb(57, 55, 211)"
                class="fa fa-check"></i> Release Faster
            </p>

            <p class="">
                    <i style="color: rgb(57, 55, 211)"
                    class="fa fa-check"></i> Release Faster
                </p>
                <p class="">
                        <i style="color: rgb(57, 55, 211)"
                        class="fa fa-check"></i> Release Faster
                    </p>
                    <p class="">
                            <i style="color: rgb(57, 55, 211)"
                            class="fa fa-check"></i> Release Faster
                        </p>
            <a href="#"
             style="background-color: rgb(43, 113, 226)"
             class=" w3-input w3-round-large w3-button w3-text-white">
                Join Us
            </a>
            <br/>
        </div>
    </div>

    <div class="w3-rest ">
        <p class="w3-xlarge w3-opacity">
            DIGITALOCEAN KUBERNETES
        </p>
        <b>
                <h1 class="w3-jumbo">
                        Kubernetes in minutes
                    </h1>
        </b>

        <p class="w3-xlarge">
            Managed Kubernetes designed for simple and cost effective container orchestration.
        </p>
    </div>
    

</div>
<br/>
<br/>