{% extends '_base.html' %}

{% block content %}
    {% set courses = Course.query.all() %}

    
    <div class=" w3-margin-top my_center " style="width: 90%"> 
      
        {% if courses|length == 0 %}
        
        <div  class="w3-center messiri_font my_center my_max_width w3-border main_color  w3-panel w3-round-xxlarge w3-xlarge  ">

            <p>
                لا توجد دورات حاليا
            </p>

        </div>

        {% else %}
            {% set style = "width : 200px ; float:right;margin-right : 5px;" %}
            {% set dir = "rtl" %}
            {% for course in courses %}
                {% include '_course_card.html' %}
            {% endfor %}
        {% endif %}
    </div>
    
{% endblock %}