<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename='css/w3css.css') }}">


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href="https://fonts.googleapis.com/css?family=El+Messiri" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    body,
    h1 {
        font-family: "Raleway", sans-serif
    }

    body,
    html {
        height: 100%
    }

    .bgimg {

        background: url("{{ url_for('static',filename='icons/Web 1920 – 1@2x.png') }}");

        min-height: 100%;
        background-position: center;
        background-size: cover;
    }



    .input_transparent {
        background: transparent;
        border: none;
    }


    .messiri_font {
        font-family: 'El Messiri', sans-serif;
    }


    .arabic_a {
        float: right !important;
        font-size: 15px;
    }

    .nav_item {
        padding: 0px 0px 0px 30px;
        margin: 5px auto;
    }

    .nav_search {
        float: right;
        margin-left: 100px;
        padding-right: 20px;
        padding-top: 5px;
        width: 500px;
    }

    .my_center {
        margin: 0px auto 0px auto;
    }

    .slogan_image {
        width: 400px;
        height: 400px;
    }

    .TYPE_IMG {
        width: 50%;
    }

    .TYPE_DIV {}

    #FOOTER {
        background: url("{{ url_for('static',filename='icons/footer_back.png') }}");
        height: 200px;
    }

    #NAV a{
        text-decoration: none;
    }
</style>

<body>

    <div id="LANDING" class="bgimg messiri_font w3-display-container w3-animate-opacity w3-text-white">
        <br />
        <div id="LOGO" class=" arabic_a  w3-display-topright w3-margin">
            <a href="{{ url_for('index') }} ">
                <img style="width: 200px" src="{{ url_for('static',filename='icons/logo.png') }}">

            </a>
        </div>

        <div id="NAV" class="w3-display-topleft   w3-padding ">
            <br />
            <div id="NAV_SEARCH" class="  w3-border  nav_search w3-round-xxlarge ">

                <i style="float: right;" class="fa fa-search">

                </i>
                <input class="input_transparent">

            </div>


            {% include '_base_nav_links.html' %}


        </div>

        <div style="width: 100%" class="w3-display-middle   ">

            <div dir="rtl" class=" w3-right w3-half">

                <div class="w3-center" style="">

                    <span class="w3-xxlarge ">
                        بنمش معاك
                    </span>
                    <br />
                    <span class="w3-jumbo  ">
                        حد الشمش
                    </span>

                </div>
            </div>

            <div class=" w3-half  ">
                <div class="my_center" style="width: 300px">
                    <p>

                        ‫الكترونية‬ ‫منصة‬ ‫عن‬ ‫عبارة‬ ‫المشروع‬
                        (‫موبايل‬ ‫وتطبيق‬ ‫انترنت‬ ‫)موقع‬
                        ‫وطالبيها‬ ‫التدريب‬ ‫خدمة‬ ‫مقدمي‬ ‫بين‬
                        ‫منهما‬ ‫كل‬ ‫إحتياجات‬ ‫تلبي‬ ‫بطريقة‬
                    </p>
                    <br />
                    <p>
                        M A S T E R Y p ro j e c t i s a n e - p l a o r m
                        ( w e b s i te & m o b i l e a p p ) t h a t i m m e rs e
                        to g e t h e r t ra i n i n g s e r v i c e s p ro v i d e rs
                        and trainees in appealing manner
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-display-bottommiddle w3-center">

            <a class="w3-button w3-border w3-round-xxlarge w3-xlarge">
                انضم الي ماستري
            </a>
            <br />
            <br />
            <a>
                ... اعرف اكثر
            </a>

            <br />
            <br />

        </div>
    </div>
    <br />
    <div id="SLOGAN_1" style="width: 80%" class=" my_center">
        <div class="w3-row my_center ">
            <div class=" w3-center w3-half ">
                <img class="slogan_image  w3-round-xxlarge " src="{{ url_for('static',filename='icons/Web 1920 – 1@2x.png') }}">
            </div>

            <div class="w3-half w3-padding-64 ">
                <div class="w3-margin-right">
                    <h1>
                        Slogan or Motivative phrase
                        goes here
                    </h1>

                    <p>
                        Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div id="SLOGAN_2" style="width: 60%" class="SLOGAN_2  my_center">
        <div class="w3-row my_center ">

            <div class="w3-half  w3-padding-64 ">
                <div class="w3-margin-right">
                    <h1>
                        Slogan or Motivative phrase
                        goes here
                    </h1>

                    <p>
                        Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here Slogan or Motivative phrase
                        goes here
                    </p>
                </div>
            </div>

            <div class=" w3-center w3-half ">
                <img class="slogan_image  w3-round-xxlarge " src="{{ url_for('static',filename='icons/Web 1920 – 1@2x.png') }}">
            </div>
        </div>
    </div>

    <hr />

    <div id="USER_TYPES" class="w3-center">
        <h1>
            Slogan or Motivative phrase
            goes here
        </h1>

        <p>
            Slogan or Motivative phrase
            goes here Slogan or Motivative phrase
            goes here Slogan or Motivative phrase
            goes here Slogan or Motivative phrase
            goes here
        </p>

        <div id="TYPES" class="w3-row-padding my_center" style="width: 80%">

            <div class="w3-quarter ">
                <img class="TYPE_IMG" width="100%" src="{{ url_for('static',filename='icons/training_center.png') }}">
                <p>
                    Trainer
                </p>

                <p>
                    Register now
                </p>
            </div>

            <div class="w3-quarter ">
                <img class="TYPE_IMG" width="100%" src="{{ url_for('static',filename='icons/lecture_room.png') }}">
                <p>
                    Trainer
                </p>

                <p>
                    Register now
                </p>
            </div>


            <div class="w3-quarter  w3-container ">
                <div class="w3-border w3-padding">
                    <img class="TYPE_IMG" src="{{ url_for('static',filename='icons/trainer.png') }}">
                    <p>
                        Trainer
                    </p>

                    <p>
                        Register now
                    </p>
                </div>
            </div>

            <div class="w3-quarter ">
                <img class="TYPE_IMG" width="100%" src="{{ url_for('static',filename='icons/trainee.png') }}">
                <p>
                    Trainer
                </p>

                <p>
                    Register now
                </p>
            </div>



        </div>

        <br />
    </div>

    
    {% include '_footer.html' %}

</body>

</html>