{% extends '_base.html' %}

{% block content %}


{% if not user.activated %}
<div id="not_activated" class="w3-center w3-text-white w3-container red_gradient w3-border w3-margin w3-round-large">
    <h1>
        Welcome <b> {{ user.username }}</b>
        <br />
        Wait until <b>admin</b> verifie you
    </h1>
</div>
{% else %}
<div class="w3-container w3-row  w3-margin-left w3-round-large  w3-padding">

    <div style="float: {{_('left')}};" dir="rtl" id="activated" class="w3-col m2 w3-border  w3-container ">
        <div class="w3-center ">
            <br />

            {% if user.image %}
                {% set profile_src = url_for('uploads', username=user.username, media=user.image) %}
                
            {% else %}
                {% set profile_src = url_for('static',filename='images/no_image.jpg') %}
               
            {% endif %}

            <img class="w3-image w3-circle profile_image  " src="{{profile_src}}">

            {% if user == current_user %}
            <br/>
            <br/>
                <div>
                
                
                    {% if user.image %}
                    <a href="{{ url_for('delete_upload',filename=user.image,type='user_image') }}"
                    class="w3-text-red w3-button">
                        <i class="fa fa-trash"></i>
                    </a>
                    {% endif %}
                    <span id="upload_image"
                    onclick="uploadForm('upload_image')"
                    class="profile_label w3-button">
                        <i class="fa fa-upload"></i>
                    </span>
                </div>
            {% endif %}
            <br />  
            <p class="profile_label">

                {{ user.username }}
            </p>
        </div>
        <hr />
        <div class="w3-bar-block {{_('en')}}">

            <p class="">
                <span class="profile_label">{{_('Fullname')}}</span> : {{ user.fullname }}
            </p>

            <p class="">
                <span class="profile_label">{{_('Email')}}</span> : {{ user.email }}
            </p>

            <p class="">
                <span class="profile_label">{{_('Phone')}}</span> : {{ user.phone }}
            </p>
        </div>


        {% if current_user.is_authenticated %}
        <hr />

        <div>
            <a style="text-decoration: none" href="{{url_for('toggle_lang',username=user.username)}}" class="w3-butto w3-input w3-center w3-blue">
                <b>
                    EN/AR
                </b>
            </a>
            <br />
        </div>
        {% endif %}

    </div>

    <div style="float: {{_('left')}};" dir="" id="activated" class="w3-col m10   w3-container ">
        <div class="w3-border w3-container">

               
            <!-- Upload modal -->
            {% if current_user == user %}

            <span onclick="uploadForm('upload_media')"
            class="w3-right profile_label w3-button w3-large">
                <i class="fa fa-upload"></i>
            </span>
            
            <script>
                function uploadForm(form_name){
                    if(form_name == "upload_image"){
                        $('#form_name').val("upload_image");
                    }
                    else{
                        $('#form_name').val("upload_media") ;
                    }
                    document.getElementById('id01').style.display='block'
                }
            </script>
            
            <div id="id01" class="w3-modal">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                    
                    {% include '_base_form.html' %}
            
                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>

                    </div>
            
                </div>
            </div>


    {% endif %}

            <!-- End Upload modal -->


            <!--Photos Model -->

                        <div id="photoes_modal" class="w3-modal" onclick="this.style.display='none'">
                            <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                            <div class="w3-modal-content w3-animate-zoom">
                                <img id="photoes_modal_image" style="width:100%">
                            </div>
                        </div>

                        <script>
                            function ShowImageModal(element) {
                                document.getElementById("photoes_modal_image").src = element.src;
                                document.getElementById("photoes_modal").style.display = "block";
                            }
                        </script>
            <!--Photos modal-->


            <!--Videos Model -->
            
            <div id="videos_modal" class="w3-modal" onclick="this.style.display='none'">
                <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                <div class="w3-modal-content w3-animate-zoom">
                    <video id="videos_modal_video"
                    width="100%" controls >
                        <source id="videos_modal_src" 
                        src="{{ url_for('uploads', username=user.username, media='20170717_IMG_7721.MOV') }}">

                    </video>
                </div>
            </div>
            
            <script>
                function ShowVideoModal(element) {
                    document.getElementById("videos_modal_src").src = $(element).find('source').attr("src");
                    $("#videos_modal_video")[0].load();
                    document.getElementById("videos_modal").style.display = "block";

                }
            </script>


            <!--Videos modal-->


            <div>
           

           
                {% if user.media %}
                <div class="w3-cell-row hover">

                    <h2>
                        Photoes
    
                    </h2>

                    <!-- Photoes -->
                    {% for media in user.media if not media.filetype %}

                    <div style="float: {{_('left')}};" class=" w3-display-container">
                        <img onclick="ShowImageModal(this)"
                        class="w3-border w3-cell marg " style="width: 200px;" 
                        src="{{ url_for('uploads', username=user.username, media=media.filename) }}" />

                        {% if user==current_user %}
                            <a href="{{ url_for('delete_upload',filename=media.filename) }}" class="w3-display-topright w3-red 
                                                    w3-button">
                                <i class="fa fa-times">

                                </i>
                            </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <div class="w3-cell-row hover">

                    <h2>
                        Videos
    
                    </h2>

                    <!-- Videos -->
                    {% for media in user.media if media.filetype %}

                    <div style="float: {{_('left')}};" class=" w3-display-container">
                      
                                                
                        <video onclick="ShowVideoModal(this)"
                         width="200px"  >

                            <source 
                            src="{{ url_for('uploads', username=user.username, media=media.filename) }}">
                            
                        </video>
  
                        {% if user==current_user %}
                            <a href="{{ url_for('delete_upload',filename=media.filename) }}" class="w3-display-topright w3-red 
                                                    w3-button">
                                <i class="fa fa-times">

                                </i>
                            </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>



                {% else %}
                <div id="not_activated" class="w3-center  w3-text-white form_max_width form_center w3-container 
                                        flash_message w3-border w3-round-large">

                    <h1 class="{{_('en')}}">
                        You don't have any photoes
                    </h1>
                </div>
                {% endif %}
                <br />
            </div>
        </div>
    </div>



</div>

{% endif %}
{% endblock %}